.partners {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1200px;

  @media (max-width: $tablet-only-width) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: $mobile-only-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.partners__title {
  @include title-style-reset;

  margin-left: 15px;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 36px;
  line-height: 58px;
  text-transform: uppercase;
  color: $dark-text-color;

  @media (max-width: $tablet-only-width) {
    margin-bottom: 20px;
    margin-left: 10px;

    font-size: 28px;
    line-height: 45px;
  }

  @media (max-width: $mobile-only-width) {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.partners__list {
  @include list-style-reset;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-only-width) {
    display: block;
  }
}

.partners__link {
  @include link-style-reset;

  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-top: 17px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 17px;
  display: block;
  box-sizing: border-box;

  border: 1px solid $basic-border-color;
  border-radius: 5px;

  &:hover,
  &:focus {
    box-shadow: -3px 0px 40px rgba($dark-shadow-color, 0.1), 0px 0px 10px rgba($shadow-color, 0.03);
  }

  @media (max-width: $tablet-only-width) {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    width: 229px;
    height: 120px;

    &--grow {
      padding: 0;
    }
  }

  @media (max-width: $mobile-only-width) {
    margin: 0;
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    height: 140px;
    box-sizing: border-box;

    &--grow {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

.partners__logo {
  display: block;

  .partners__link:active & {
    opacity: 0.6;
  }

  @media (max-width: $tablet-only-width) {
    width: 100%;
    height: auto;

    .partners__link--grow & {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      margin-right: -20px;
      margin-left: -20px;
      width: calc(100% + 40px);
    }
  }

  @media (max-width: $mobile-only-width) {
    margin-right: auto;
    margin-left: auto;
    width: auto;

    .partners__link--grow & {
      margin-right: auto;
      margin-left: auto;
      width: 280px;
    }
  }
}
