//Color-scheme
$accent-color: #34aadd;
$basic-background-color: #ffffff;

$light-text-color: #bbc4d6;
$basic-text-color: #768298;
$dark-text-color: #121920;

$light-icon-color: #cdcdcd;
$dark-icon-color: #c4c4c4;

$basic-border-color: #ebebf1;
$light-border-color: #bbc4d6;
$dark-border-color: #768298;

$shadow-color: #a4a4a4;
$dark-shadow-color: #000000;


//Breakpoints-widths

$mobile-only-width: 767px;
$mobile-width: 375px;
$tablet-only-width: 1279px;
$tablet-width: 768px;
$desktop-width: 1280px;
